/*NavBar*/

.navbar {
    padding: 5px 5px 5px 25px;
    margin-bottom: 40px;
}

.nav-link {
    color: white !important;
    font-weight: 600;
    font-size: 20px;
}

.nav-link:hover {
    color: #0288d1 !important;
    transition: 500ms;
}

#nav-active {
    color: #0288d1 !important;
}

/*Canvas*/

main {
    width: 1536px;
    border: 2px solid #000000;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    border-radius: 1em;
}

.panel {
    width: 160px;
    border-right: 2px solid #b8b8b8;
}

.colors {
    background-color: #ece8e8;
    border-top-left-radius: 1em;
    text-align: center;
    padding-bottom: px;
    padding-top: 10px;
}

.colors button {
    display: inline-block;
    border: 1px solid #00000026;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-bottom: 5px
}

.colors input[type="color"] {
    display: inline-block;
    border: 1px solid #00000026;
    border-radius: 0;
    cursor: pointer;
    width: 40px;
    height: 20px;
    margin-bottom: 5px
}

.colors button:nth-of-type(1) {
    background-color: #d50000;
}

.colors button:nth-of-type(2) {
    background-color: #ff1744;
}

.colors button:nth-of-type(3) {
    background-color: #dd2c00;
}

.colors button:nth-of-type(4) {
    background-color: #ff6d00;
}

.colors button:nth-of-type(5) {
    background-color: #ffab00;
}

.colors button:nth-of-type(6) {
    background-color: #ffd600;
}

.colors button:nth-of-type(7) {
    background-color: #6200ea;
}

.colors button:nth-of-type(8) {
    background-color: #651fff;
}

.colors button:nth-of-type(9) {
    background-color: #304ffe;
}

.colors button:nth-of-type(10) {
    background-color: #2962ff;
}

.colors button:nth-of-type(11) {
    background-color: #0091ea;
}

.colors button:nth-of-type(12) {
    background-color: #00b8d4;
}

.colors button:nth-of-type(13) {
    background-color: #7cb342;
}

.colors button:nth-of-type(14) {
    background-color: #00c853;
}

.colors button:nth-of-type(15) {
    background-color: #64dd17;
}

.colors button:nth-of-type(16) {
    background-color: #aeea00;
}

.colors button:nth-of-type(17) {
    background-color: #000000;
}

.colors button:nth-of-type(18) {
    background-color: #ffffff;
}

.lineWidth {
    background-color: #ece8e8;
    padding-top: 10px
}

#width-slider {
    display: block;
    width: 90%;
    border: 0;
    border-radius: 0;
    background-color: #ece8e8;
    margin: 0 auto;
    padding: 5px;
    height: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
}

#grosor {
    margin-left: 8px;
}

.buttons {
    height: 80px;
    padding-top: 10px;
}

.buttons button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: #ece8e8;
    margin-bottom: 5px;
    padding: 5px;
    height: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

.right-block {
    width: 1228px;
}

#paint-canvas {
    cursor: crosshair;
}